/frontend/lab-2-app/.idea/.gitignore
/chat.db
/frontend/lab-2-app/.idea/jpa-buddy.xml
/frontend/lab-2-app/.idea/misc.xml
/frontend/lab-2-app/.idea/modules.xml
/frontend/lab-2-app/.idea/inspectionProfiles/Project_Default.xml
/frontend/lab-2-app/.idea/vcs.xml
